<div class="forms">
  <%= form_for [@job, @applicant] do |f| %>
    <div class="field">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone %><br>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :about %><br>
      <%= f.text_field :about %>
    </div>
    <div class="actions">
      <%= f.submit "Submit", class: 'btn btn-primary btn-md' %>
    </div>
  <% end %>
</div>
