<div class="universal-page">
  <h1>Job Applicants</h1>
  <br>
  <% @applicants.each do |applicant| %>
    <div class="well">
      Job ID: <%= applicant.job_id %>
      <br>
      Name: <%= applicant.first_name %> <%= applicant.last_name %>
      <br>
      Email: <%= applicant.email %>
      <br>
      Phone: <%= applicant.phone %>
      <br>
      About: <%= applicant.about %>
      <br><br>
      <%= link_to "Resume", applicant.document.url, class: "btn btn-success btn-md" %>
      <%= mail_to "#{applicant.email}", "Email", class: "btn btn-primary btn-md" %>
    </div>
  <% end %>
  <%= paginate @applicants %>
</div>
