<div id="forms">
  <br>
  <%= form_for(@job) do |f| %>
    <div>
      <%= f.label :title %>
      <br>
      <%= f.text_field :title, required: 'required' %>
      <br><br>
      <%= f.label :location %>
      <br>
      <%= f.text_field :location, required: 'required' %>
      <br><br>
      <%= f.label :type %>
      <br>
      <%= f.text_field :job_type, required: 'required' %>
      <br><br>
      <%= f.label :description %>
      <br>
      <%= f.cktext_area :description, required: 'required' %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary btn-md' %>
    </div>
  <% end %>
</div>
