<% if @jobs.none? %>
  <i>There are no active job listings at this time.</i>
<% else %>
  <table id="jobs-table" class="table-striped">
    <tr>
      <th><%= sortable "title", "Position" %></th>
      <th><%= sortable "location" %></th>
      <th><%= sortable "job_type", "Duration"%></th>
      <% if current_user %>
      <th>Applicants</th>
      <% end %>
    </tr>
    <tr>
    <% @jobs.each do |job| %>
    <td><%= link_to job.title, job_path(job) %></td>
    <td><%= job.location %></td>
    <td><%= job.job_type %></td>
    <% if current_user %>
    <td><%= job.applicants.count %></td>
    <% end %>
  </tr>
  <% end %>
  </table>
<% end %>
<%= paginate @jobs, remote: true %>
