<div id="jobs-index">
  <div class="carousel-inner">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/jobs-header.jpg") %>
    <div class="carousel-caption">
      <div id="jobs-header-text">
        FIND YOUR PATH
      </div>
    </div>
  </div>
  <div class="universal-page">
    <h1>Available Positions</h1>
    <br>
    <table id="jobs-table" class="table-striped">
      <tr>
        <th>Position</th>
        <th>Location</th>
        <th>Duration</th>
        <% if current_user %>
        <th>Resumes</th>
        <% end %>
      </tr>
      <tr>
      <% @jobs.each do |job| %>
          <td><%= link_to job.title, job_path(job) %></td>
          <td><%= job.location %></td>
          <td><%= job.job_type %></td>
          <% if current_user %>
          <td><%= job.applicants.count %></td>
          <% end %>
      </tr>
      <% end %>
    </table>
    <%= paginate @jobs %>
    <br>
    Not seeing the job you're looking for? <%= link_to "Click here", new_resume_path %> and send us your resume anyway!
  </div>
</div>
