<div id="jobs-index">
  <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/jobs-header.jpg") %>
  <div class="universal-page">
    <h1>Jobs</h1>
    <table id="job-table" class="table-striped">
      <tr>
        <th>Position</th>
        <th>Location</th>
        <th>Duration</th>
      </tr>
      <tr>
      <% @jobs.each do |job| %>
          <td><%= link_to job.title, job_path(job) %></td>
          <td><%= job.location %></td>
          <td><%= job.job_type %></td>
      </tr>
      <% end %>
    </table>
    <br>
    Not seeing the job you're looking for? <%= link_to "Click here", new_resume_path %> and send us your resume anyway!
  </div>
</div>
