<div class="universal-page">
  <b>Title:</b> <%= @job.title %>
  <br>
  <b>Location:</b> <%= @job.location %>
  <br>
  <b>Type:</b> <%= @job.job_type %>
  <br>
  <b>Job ID:</b> <%= @job.job_id %>
  <br><br>
  <b>Description:</b> <%= @job.description %>
  <br><br>
  <%= link_to "Apply For This Job", new_job_applicant_path(@job), class: "btn btn-primary btn-md" %>
  <%= link_to "Delete Job Posting", job_path(@job), class: "btn btn-danger btn-md",
   method: :delete, data: { confirm: 'Are you sure?' } %>
   <br><br>
   <h3>Submitted Applications</h3>
   <% if @job.applicants.any? %>
      <% @applicants.each do |applicant| %>
       <div class="well">
         Job ID: <%= applicant.job_id %>
         <br>
         Name: <%= applicant.first_name %> <%= applicant.last_name %>
         <br>
         Email: <%= applicant.email %>
         <br>
         Phone: <%= applicant.phone %>
         <br>
         About: <%= applicant.about %>
         <br>
         Resume: <%= link_to "Download", applicant.document.url %>
         <br><br>
         <%= mail_to "#{applicant.email}", "Email", class: "btn btn-primary btn-md" %>
         <%= link_to "Delete", job_applicant_path(@job, applicant), class: "btn btn-danger btn-md",
          :data => {:confirm => "Are you sure?", :method => "delete"} %>
        </div>
      <% end %>
    <% else %>
      <p>There are no applicants for this job yet!</p>
  <% end %>
</div>
