<div id="home-header">
  <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/home-header.jpg") %>
  <div class="carousel-caption">
    <div id="home-header-text">
      CONNECTING GREAT COMPANIES<br>WITH GREAT PEOPLE
    </div>
  </div>
  <div class="container" id="homepage">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/logo-med.png") %>
    <br>
    <p id="home-tagline2">
      Premier staffing solutions for accounting, finance,
      human resources and administrative professionals.
    </p>
  </div>
  <div class="container" id="home-tabs">
    <div class="row">
      <%= link_to new_resume_path do %>
        <div class="col-md-6" id="index-resume">
          <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/home-index-resume.jpg") %>
          <div class="carousel-caption">
            <div class="home-tab-text">
              <span class="glyphicon glyphicon-list-alt"></span>
                <br>
                Send Your Resume
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to jobs_path do %>
      <div class="col-md-6" id="index-jobs">
        <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/home-index-jobs.jpg") %>
          <div class="carousel-caption">
            <div class="home-tab-text">
              <span class="glyphicon glyphicon-briefcase"></span>
                <br>
                View Jobs
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
