<div id="home-header">
  <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/home-header.jpg") %>
  <div class="carousel-caption">
    <div id="home-header-text">
      CONNECTING GREAT COMPANIES<br>WITH GREAT PEOPLE
    </div>
  </div>
  <div class="container" id="home-tabs">
    <div class="row">
      <div class="col-md-6" id="index-resume">
        <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/index-jobs.jpg") %>
        <div class="carousel-caption">
          <div id="home-header-text">
            <span class="glyphicon glyphicon-list-alt">
              <br>
              <%= link_to "Send Your Resume", new_resume_path, class: "home-tab-text" %>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="index-jobs">
        <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/index-jobs.jpg") %>
        <div class="carousel-caption">
          <div id="home-header-text">
            <span class="glyphicon glyphicon-briefcase">
              <br>
              <%= link_to "View Jobs", jobs_path, class: "home-tab-text" %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
