<div id="forms">
  <br>
  <%= form_for(@contact) do |f| %>
    <div>
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, required: 'required' %>
      <br><br>
      <%= f.label :email %>
      <br>
      <%= f.text_field :email, required: 'required' %>
      <br><br>
      <%= f.label :phone %>
      <br>
      <%= f.text_field :phone, required: 'required' %>
      <br><br>
      <%= f.label :message %>
      <br>
      <%= f.cktext_area :message, required: 'required' %>
    </div>
    
    <div class="actions">
      <%= f.submit "Submit", class: 'btn btn-primary btn-md' %>
    </div>
  <% end %>
</div>
