<%
meta title: "Left Coast Search | Contact Us",
     description: "Contact us today and let's talk about how Left Coast Search
      can help with your job search or staffing needs!"
%>
<div class="universal-page">
  <% if current_user %>
    <h1><b>Customer Inquiries</b></h1>
    <hr>
    <br>
    <% if @contacts.none? %>
      No Customer Inquiries have been submitted yet
    <% else %>
      <% @contacts.each do |contact| %>
        <div class="well">
          Submitted: <%= contact.created_at.in_time_zone("Pacific Time (US & Canada)") %>
          <br><br>
          Name: <%= contact.name %>
          <br>
          Email: <%= contact.email %>
          <br>
          Phone: <%= contact.phone %>
          <br>
          Message: <%= simple_format(contact.message) %>
          <%= mail_to "#{contact.email}", "Email", class: "btn btn-primary btn-md" %>
          <%= link_to "Delete", contact_path(contact), class: "btn btn-danger btn-md",
           method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <br>
      <% end %>
    <% end %>
    <%= paginate @contacts %>
  <% else %>
  Access to this page is restricted to Administrators only
  <% end %>
</div>
