<h1>Customer Inquiries</h1>

<% if @contacts.none? %>
  <%= puts "No Customer Inquiries have been submitted yet" %>
<% else %>
  <% @contacts.each do |contact| %>
    <div class="well">
      Name: <%= contact.name %>
      <br>
      Email: <%= contact.email %>
      <br>
      Phone: <%= contact.phone %>
      <br>
      Message: <%= contact.message %>
    </div>
  <% end %>
<% end %>
