<div class="universal-page">
  <h1>Client Resumes</h1>
  <br>
  <% if @resumes.none? %>
    No resumes have been submitted yet
  <% else %>
    <% @resumes.each do |resume| %>
      <div class="well">
        Name: <%= resume.first_name %> <%= resume.last_name %>
        <br>
        Email: <%= resume.email %>
        <br>
        Phone: <%= resume.phone %>
        <br>
        Address: <%= resume.address %>
        <br>
        City: <%= resume.city %>
        <br>
        State: <%= resume.state %>
        <br>
        Zip: <%= resume.zip %>
        <br>
        About: <%= simple_format(resume.about) %>
        <br><br>
        <%= link_to "Resume", resume.document.url, class: "btn btn-success btn-md" %>
        <%= mail_to "#{resume.email}", "Email", class: "btn btn-primary btn-md" %>
        <%= link_to "Delete", resume_path(resume), class: "btn btn-danger btn-md",
         method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  <% end %>
  <%= paginate @resumes %>
</div>
