<div class="universal-page">
  <% if current_user %>
    <h1>Candidate Resumes</h1>
    <hr>
    <br>
    <% if @resumes.none? %>
      No resumes have been submitted yet
    <% else %>
      <% @resumes.each do |resume| %>
        <div class="well">
          Submitted: <%= resume.created_at.in_time_zone("Pacific Time (US & Canada)") %>
          <br><br>
          Name: <%= resume.first_name %> <%= resume.last_name %>
          <br>
          Email: <%= resume.email %>
          <br>
          Phone: <%= resume.phone %>
          <br>
          Address: <%= resume.address %>
          <br>
          City: <%= resume.city %>
          <br>
          State: <%= resume.state %>
          <br>
          Zip: <%= resume.zip %>
          <br>
          About: <%= simple_format(resume.about) %>
          <%= link_to "Resume", resume.document.url, class: "btn btn-success btn-md" %>
          <%= mail_to "#{resume.email}", "Email", class: "btn btn-primary btn-md" %>
          <%= link_to "Delete", resume_path(resume), class: "btn btn-danger btn-md",
           method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <br>
      <% end %>
    <% end %>
    <%= paginate @resumes %>
  <% else %>
    Access to this page is restricted to Administrators only
  <% end %>
</div>
