
<footer>
  <div id="footer">
    <div class="row">
      <div class="col-sm-4">
        <ul class="footer-list">
          <li>
            <%= link_to "Home", root_path, class: "nav-text-color" %>
          </li>
          <li>
            <%= link_to "About", about_index_path, class: "nav-text-color" %>
          </li>
          <li>
            <%= link_to "Employers", employers_path, class: "nav-text-color" %>
          </li>
          <li>
            <%= link_to "Jobs", jobs_path, class: "nav-text-color" %>
          </li>
          <li>
            <%= link_to "News", news_index_path, class: "nav-text-color" %>
          </li>
          <li>
            <%= link_to "Contact", new_contact_path, class: "nav-text-color" %>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="footer-list">
          <li>
            <%= link_to "Home", root_path, class: "nav-text-color" %>
          </li>
          <li>
            <%= link_to "About", about_index_path, class: "nav-text-color" %>
          </li>
          <li>
            <%= link_to "Employers", employers_path, class: "nav-text-color" %>
          </li>
          <li>
            <%= link_to "Jobs", jobs_path, class: "nav-text-color" %>
          </li>
          <li>
            <%= link_to "News", news_index_path, class: "nav-text-color" %>
          </li>
          <li>
            <%= link_to "Contact", new_contact_path, class: "nav-text-color" %>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <div class="social">
         <ul>
           <li><a href="https://www.facebook.com/Von-Dubinhaus-Shepherds-202535683142444/"><i class="fa fa-lg fa-facebook"></i></a></li>
           <li><a href="https://twitter.com/vondubshepherds"><i class="fa fa-lg fa-twitter"></i></a></li>
           <li><a href="https://www.instagram.com/vondubinhaus/"><i class="fa fa-lg fa-instagram"></i></a></li>
         </ul>
       </div>
      </div>
     </div>
     <hr>
    <div class="footer-container">
      Left Coast Search | © Copyright 2017
    </div>
  </div>
</footer>
