<footer>
  <div id="footer">
    <div class="row">
      <div class="col-sm-3">
        <ul class="footer-list">
          <li>
            <%= link_to "Home", root_path, class: "footer-text" %>
          </li>
          <li>
            <%= link_to "About", about_index_path, class: "footer-text" %>
          </li>
          <li>
            <%= link_to "Employers", employers_path, class: "footer-text" %>
          </li>

        </ul>
      </div>
      <% unless current_user %>
      <div class="col-sm-3">
        <ul class="footer-list">
          <li>
            <%= link_to "Jobs", jobs_path, class: "footer-text" %>
          </li>
          <li>
            <%= link_to "Contact", new_contact_path, class: "footer-text" %>
          </li>
          <li>
            <%= link_to 'Login', new_user_session_path, class:'footer-text' %></h5>
          </li>
        </ul>
      </div>
      <% else %>
      <div class="col-sm-3">
        <ul class="footer-list">
          <li>
            <%= link_to "Jobs", jobs_path, class: "footer-text" %>
          </li>
          <li>
            <%= link_to "Contact", new_contact_path, class: "footer-text" %>
          </li>
          <li>
            <%= link_to 'Log out',  destroy_user_session_path, method: 'delete', class:'footer-text' %></h5>
          </li>
        </ul>
      </div>
      <% end %>
      <div class="col-sm-3">
        <div class="social">
         <ul>
           <li><a href="https://www.facebook.com/LeftCoastSearch/"><i class="fa fa-lg fa-facebook"></i></a></li>
           <li><a href="https://twitter.com/LeftCoastSearch"><i class="fa fa-lg fa-twitter"></i></a></li>
           <li><a href="https://www.instagram.com/leftcoastsearch/"><i class="fa fa-lg fa-instagram"></i></a></li>
           <li><a href="https://www.linkedin.com/in/blaine-moberg-a08a8626/"><i class="fa fa-lg fa-linkedin"></i></a></li>
         </ul>
       </div>
      </div>
      <div class="col-sm-3" id="footer-contact">
      PO Box 1025
      <br>
      Lake Oswego, Oregon 97034
      <br>
      (503) 387-3197
      </div>
     </div>
     <hr>
    <div class="footer-container">
      Left Coast Search LLC | ©2017 | All Rights Reserved
    </div>
  </div>
</footer>
