<!DOCTYPE html>
<html>
  <head>
    <title>Left Coast Search</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <script>
    $(function() {
      $('.flash-messages').delay(500).fadeIn('normal')
    });
    </script>

    <%= csrf_meta_tags %>
    <meta name="copyright" content="Left Coast Search LLC. All Rights Reserved" />
    <meta name="description" content="Left Coast Search, Premier staffing solutions for Accounting, Finance, Human Resources and Administrative professionals in Oregon and Southwest Washington" />
    <meta name="keywords" content="staffing, accounting, professional, services, finance, human resources, administrative professionals, jobs, employment, portland, oregon, washington" />
    <meta name="city" content="Portland" />
    <meta name="state" content="Oregon" />
    <meta name="country" content="US" />
    <meta name="Robots" content="INDEX,FOLLOW" />

    <!-- Open Graphs -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Left Coast Search" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="http://www.leftcoastsearch.com/" />
    <meta property="og:site_name" content="Left Coast Search" />
    <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/leftcoastsearch/logo-med.png" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="" />
    <meta name="twitter:url" content="http://www.leftcoastsearch.com/" />
    <meta name="twitter:title" content="Left Coast Search" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="http://www.leftcoastsearch.com/" />
    
    <%= favicon_link_tag 'lcs_browser.png' %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top">
      <div>
        <!-- <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-user"></span> Consultants
        </button>
      </div>
      <hr> -->
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to image_tag("LCS_logo_header.png"), home_index_path %>
        </div>
        <div id="nav-right">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
            <li class="dropdown">
              <a href class="navbar-text" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">
                Admin
                <span class="caret">
                </span>
              </a>
              <ul class="dropdown-menu" id="dropdown">
                <!-- <li>
                  <%= link_to 'Job Applicants', applicants_path %>
                </li> -->
                <li>
                  <%= link_to 'Resumes', resumes_path %>
                </li>
                <li>
                  <%= link_to 'Customer Inquiries', contacts_path %>
                </li>
                <li>
                  <%= link_to 'Add New Job Posting', new_job_path %>
                </li>
              </ul>
            </li>
            <li>
              <%= link_to "Home", root_path, class: "navbar-text" %>
            </li>
            <li>
              <%= link_to "About", about_index_path, class: "navbar-text" %>
            </li>
            <li>
              <%= link_to "Candidates", candidates_path, class: "navbar-text" %>
            </li>
            <li>
              <%= link_to "Employers", employers_path, class: "navbar-text" %>
            </li>
            <li>
              <%= link_to "Jobs", jobs_path, class: "navbar-text" %>
            </li>
            <!-- <li>
              <%= link_to "News", news_index_path, class: "navbar-text" %>
            </li> -->
            <li>
              <%= link_to "Contact", new_contact_path, class: "navbar-text" %>
            </li>
            <% else %>
            <li>
              <%= link_to "Home", root_path, class: "navbar-text" %>
            </li>
            <li>
              <%= link_to "About", about_index_path, class: "navbar-text" %>
            </li>
            <li>
              <%= link_to "Candidates", candidates_path, class: "navbar-text" %>
            </li>
            <li>
              <%= link_to "Employers", employers_path, class: "navbar-text" %>
            </li>
            <li>
              <%= link_to "Jobs", jobs_path, class: "navbar-text" %>
            </li>
            <!-- <li>
              <%= link_to "News", news_index_path, class: "navbar-text" %>
            </li> -->
            <li>
              <%= link_to "Contact", new_contact_path, class: "navbar-text" %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="flash-messages">
      <% if notice %>
      <div class="alert alert-success alert-dismissable fade in" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= flash[:notice] %>
      </div>
      <% end %>
    </div>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
